<div>
  <form [formGroup]="formulario" (ngSubmit)="guardar()">

    <div class="column-izq">
      <button mat-raised-button type="button" (click)="agregar()">Adicionar</button>
    </div>

    <div class="column-center">
      <div formArrayName="cajaP" *ngFor="let s of contenidoP.controls; let i = index">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput #message maxlength="256" [formControlName]="i" required autocomplete="off">
        </mat-form-field>
        <button mat-raised-button type="reset">Limpiar caja</button>

        <button mat-raised-button color="warn" (click)="borrar(this.contenidoP.value.i)"
          type="button">Eliminar</button>
      </div>

      <div class="multilinea">
        <mat-form-field class="example-full-width" appearance="fill">
          <textarea matInput cols="30" rows="7"> {{ contenido2 }} </textarea>
        </mat-form-field>
        <button mat-raised-button type="button" (click)="limpiarMultilinea()">Limpiar Caja Multilinea</button>
      </div>

    </div>

    <div class="column-der">

      <div class="izq">
        <fieldset>
          <legend>Acciones</legend>
          <button mat-raised-button (click)="guardar()" [disabled]="formulario.invalid">Guardar</button><br>
          <button mat-raised-button type="reset" (click)="limpiar()">Limpiar</button>
        </fieldset>
      </div>

    </div>
  </form>
</div>
