* {
  margin: 10px;
}

.column-izq,
.column-center,
.column-der {
  float: left;
}

.der {
  float: left;
}

.izq {
  display: flex;
  flex-direction: column;
}

.column-center {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
}

.multilinea
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cajaP
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}